@model List<DataAccess.DTO.CartDTO>
@{
    ViewBag.Title = "Cart";
    var userSession = ViewBag.User;
}
<link href="~/Content/Libs/cart.css" rel="stylesheet" />

<h2>Shopping cart</h2>

<p class="mb-0">You have @Model.Count items in your cart</p>



@Html.Action("BookInCartPartialView", "Cart")



